/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
#mobile-svg-bg, .mobile-bg-corner {
	display: none;
}

.video-bg-container {
	display: block;
}
/**************************
Cta & Tagline
***************************/		
.cta {
	// width: 270px;
	// position: absolute;
	// z-index: 2;
	// top: 55%;
	// left: 50%;
	// -webkit-transform: translate(-50%, -50%);
	//         transform: translate(-50%, -50%);

	&.centered {
		// top: 50%;
		// left: 50%;		
		// -webkit-transform: translate(-50%, -50%);
		//         transform: translate(-50%, -50%);	
  //   	text-align: center;		        
	}

	.tagline {
		font-weight: normal;
		-webkit-animation: down 1s ease forwards;
		display: inline-block;
		padding: 14px 15px;

		span {
			display: inline-block;
			background: transparent;
			padding: 0;
		}

		.category {

		}

	    &.one-liner {

	    	span {
	    		background-color: transparent;
	    		padding: 0;
	    	}
	    }	

	    &.alternate-red {
	    	background-color: rgba(239, 67, 48, 0.8);
	    	color: #fff;
	    }
	}
	
	&.alternate {
		.tagline {
			span {
				background-color: #fff;
				letter-spacing: 1px;
			}

			span:first-child {
				color: #989898;
				top: auto;
			}
		}	
	}

	&.single {
		.tagline {
			h2 {
				background-color: rgba(239, 67, 48, 1);
			}

			span {
				background-color: transparent;
				letter-spacing: 1px;
			}
		}			
	}	
}

/**************************
Blog
***************************/		
#blog {
	.articles {
		article {
			height: 50%;
			width: 50%;
			float: left;
			background: #BDBDA6;
			position: relative;

			.info {
				color: #fff;
			}

			&.show-article {
				width: 100%;

				.related-articles {
					h4 {
						width: 100%; 
						display: block;
						margin: 0;
						padding-left: 100px;
						padding-bottom: 30px;
						font-size: 38px;
					}
				}
			}	
			// pseudo and classes for article
			&:nth-child(2),
			&:nth-child(3) {
				background: #CDCDB4;
			}	

			&:nth-child(4) {
				background: #BDBDA6;
			}
		}
	}
}

.main-menu-btn {
	background: #333;
	color: #fff;
	text-transform: lowercase;
	font-size: 20px;

	.close-menu {
		background: #333;
		
		i {
			background-image: url(../images/icons/menu-close-white.png);
		}
	}
}


/**************************
About Page
***************************/		
#about-landing {
	background: transparent;

	.blur-overlay {
		display: block;
	}	

	.cta {
		left: 15%;

		.tagline {
			margin-bottom: 45px;
			background: rgba(255,255,255, 0.9);
			padding: 14px 15px;
		}

		p {
			color: #fff;
			padding-left: 10px;
			line-height: 24px;
			margin-bottom: 30px;
		}

		.nav-arrow-down {
			margin-left: 10px;
		}
	}	
}

#landing-video {
	display: block;
}

#people {

	.cta {

		.tagline {
			span {
				font-size: 40px;
				padding: 10px 12px;
			}
		}
	}
}

/**************************
CONTACT PAGE
***************************/		
.full-bleed {
	display: block;
}

/**************************
Services Page
***************************/
.service-section {
	.summary {
	    top: 35%;
	    -webkit-transform: translateY(0);
	            transform: translateY(0);		

		p {
			-webkit-transform: translateY(40px);
			        transform: translateY(40px);
		}
	}

	&.show-summary {
		.summary {
			p {
				opacity: 1;
				-webkit-transform: translateY(0px);
				        transform: translateY(0px);
			}
		}
	}
}

/**************************
Work Page
***************************/
.work-item {
	&:hover {
		.company,
		.category {
			color: #fff;
		}		
	}
}


/**************************
About Page
***************************/		
div.scrollingHotSpotLeft,
div.scrollingHotSpotRight {
	display: block;
}


/**************************
Services Page
***************************/
.page-services {	
	
}

#services-landing {
	background-color: #2A2C2A;
	color: #fff;
	overflow: hidden;

	&.hide-me {
		opacity: 0;
	}
}

#services-container {
	background-color: #2A2CB3;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;

	&.show-me {
		opacity: 1;
	}
}

.service-section {
	height: 100%;
	width: 100%;
	background-color: $ml-red;
	background-size: cover;

	.blur-overlay {
		display: none;

	    &.show {
	    	height: 100%;
	    	display: block;
	    	opacity: 1;
	    }		
	}

	.number {
		font-family: 'futura_ltregular';
		letter-spacing: 1.5px;
		padding-bottom: 10px;
		border-bottom: solid 1px #fff;
		display: inline-block;
		font-size: 57px;
	}

	&.show-summary {
		.summary {
			p {
				opacity: 1;
				-webkit-transform: translateY(0px);
				        transform: translateY(0px);
			}
		}

		video {
			-webkit-filter: blur(10px);
					filter: blur(10px);
		}
	}
}

#service-svg {
	display: none;
}

.landing blockquote {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    margin: 0;	
	font-size: 25px;
	padding: 0 20px;
	// -webkit-animation: down 1s ease forwards;
	z-index: 1;

	.quote-mark {
	    background: url(../images/icons/quote-mark.png) no-repeat;
	    display: block;
	    width: 20px;
	    background-size: 100%;
	    height: 20px;
	}

	.quote {
		display: none;

		&.show {
			display: block;
		}
	}
	small {
		display: block;
		font-size: 11px;
		margin-top: 50px;		
	}

	hr {
		height: 1px;
		width: 40px;
		background: #fff;
		border: none;
		margin: 30px 0 20px 0;
	}	

	nav {
		text-align: right;
		font-size: 20px;
		margin-top: -20px;

		span {
			display: inline-block;
			vertical-align: middle;
		}

		.cur {
			margin-right: 5px;
		}

		.total {
			margin-left: 5px;
		}

		.arrow {
			margin: 0 5px;
		}
	}
}

.right-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #fff;

    &.go-away {
    	bottom: -80px;
    }
}    
