/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/

/**************************
Main Nav
***************************/
#main-menu {
	min-width: 200px;
	width: 25%;
	left: -100%;
	padding-top: 0;
	background: transparent;

	#menu-interior {
		width: 100%;
		height: 100%;
		min-width: 210px;
		position: relative;
		background: $ml-red;
	}

	ul {
	    position: absolute;
	    margin-left: 0;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	            transform: translateY(-50%);
	    width: 100%;

		li {
			font-size: 26px;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	a {
		color: #fff;
	}

	.logo {
		z-index: 3;
	}

	&.open {
		display: block;
		bottom: 0;
		left: 0;
	}
}

.logo {
    width: 260px;
    height: 42px;

    &.interior {
	    width: 115px;
	    height: 115px;

	    img {
	    	width: 64px;
	    	height: 32px;
	    	position: absolute;
	    	top: 50%;
	    	left: 50%;
	    	transform: translate(-50%, -50%);

	    }

    }
}

/**************************
Other Misc menu stuff
***************************/		
.mobile-menu-btn {
	display: none;
}

#menu-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    display: none;
    opacity: 0;	
    z-index: -1;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;    
}

.main-menu-open {
	#menu-overlay {
		opacity: 1;
		z-index: 1;
	}
}

/**************************
Main Menu Styles
***************************/
#main-menu-btn,
.right-menu-btn {
	height: 70px;
	bottom: 0;
	left: 0;
	font-size: 15px;
	text-align: center;
	z-index: 6;	

	.open-menu {
		display: block;	
		position: absolute;
		bottom: 0;
		left: 0;
	}	
}

#main-menu-btn {
	font-size: 22px;
}

/**************************
Cta & Tagline
***************************/		
.home .cta .tagline {
	background: transparent;
}

.cta {
	width: auto;
	top: 55%;
	left: 5%;
	-webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);	
	width: auto;


	.tagline {
		font-weight: normal;
		transition: none;
		background: rgba(255, 255, 255, 0.8);
		-webkit-animation: down 1s ease forwards;
		padding: 0;

		span {
			transition: none;
			font-size: 35px;
		}

		.category {
		    background: transparent;
		    color: #6E6E6E;
		    font-size: 14px;
		    padding: 0;
		    display: block;
		    margin: 20px 0 0 0;
		    transition: none;
		}
	}
	
	&.alternate {
		width: auto;

		.tagline {
			span {
				background: transparent;
				letter-spacing: 1px;
				padding: 0;
			}

			span:first-child {
				color: #989898;
			}
		}	
	}	
}

/**************************
About Page
***************************/
.page-about {

}

.tile-container {
	height: auto;
	overflow: hidden;
}

.tile {
	width: calc(100%/6);
    padding-bottom: calc(100%/6);
	float: left;
	position: relative;
	z-index: 1;

	&.white {
		background: #fff;
	}

	img {
		display: block;
		position: absolute;
		width: 100%;

		& + img {
			opacity: 0;
		}
	}

	&:nth-child(2n){

	}

	&.blank {
		background: none;
	}
}

#about-landing {
	background-image: url(../images/mobile/backgrounds/mobile-about-bg.jpg);
}

#timeline {
	background-color: $page-bg-drk-grey;
}

#clients {
	background-color: #E5E5E5;

	.cta {
		top: 50%;
	}
}

#people {
	background-color: #DEDEDE;

	.tile {
		img {
			width: 100%;
		}
	}
}

#culture {
	&.play-full-video {
		#about-culture-video-loop {
		}
	}
}
/**************************
Blog page
***************************/	
#blog {
	height: 100%;
	width: 100%;

	.articles {
		height: 100%;
		width: 100%;

		article {
			height: 50%;
			width: 100%;

			.article-content {

			}
		}
	}
}

/**************************
Contact page
***************************/	
#contact-video {
	min-width: 100%;
	opacity: 0;
}

.page-contact {
	.video-bg-container {
		display: block;
	}
}

#contact-landing {
	.hero {
		background-image: url(../images/768up/backgrounds/contact/contact-map-header.jpg);
		height: 38%;

		p {
			font-size: 34px;
			left: 75px;			
		}
	}

	.blur-overlay {
		height: 100%;
		opacity: 1;
	}

	.content {
		height: 62%;
		position: relative;

		.general-info {
			width: 60%;
			float: right;
			min-height: 100%;
			position: relative;
			overflow: hidden;
			background: transparent;

			.name-abbrev {
				position: absolute;
				top: 50%;
				left: 60px;
				-webkit-transform: translateY(-50%);
				        transform: translateY(-50%);
				font-size: 80px;
				letter-spacing: 12px;
			}

			.clock {
				position: absolute;
				top: 25px;
				left: 25px;
				width: auto;

				i {
				    height: 50px;
				    width: 50px;					
				}
			}

			.weather {
				position: absolute;
				bottom: 5px;
				left: 25px;	
				width: auto;	
				font-size: 55px;		
			}
		}

		.contact-info {
			padding: 30px 0 0 80px;
			width: 40%;
			float: left;
			min-height: 100%;
			position: relative;

			.directions {
				position: relative;
				font-size: 16px;
			}

			.directions:before {
				content: "";
				height: 38px;
				width: 30px;
				display: block;
				background: url(../images/icons/map.png);
			    background-size: cover;
			    position: absolute;
			    left: -40px;
			    top: -7px;				
			}
		}
	}

	.social {
		bottom: 13px;
	}
}

/**************************
FULL BLEED VIDEO 
***************************/	
.home .video-bg-container {
	z-index: -2;
}

// Cover for when a vid is started with a click
.full-bleed {
	@include full-bleed;
}

.video-cover {
	@include full-bleed;
	z-index: 1;
}

/**************************
Homepage
***************************/	
body.home {
	background: #F4F4F4;
	background: transparent;
}	

/**************************
Work Page
***************************/
#work-items-window {
	height: 100%;
	width: 100%;
	background: #333;
	overflow: hidden;
}

.work-items {
	height: 100%;
    overflow: hidden;
    position: relative;
    background-color: $page-bg-drk-grey;
}

.work-item {
	display: none;
	height: 100%;
	width: 25%;
	float: left;
	-webkit-animation: slideInLeft 1s;
			animation: slideInLeft 1s;	

	.work-item-bgs {
		background: #fff;
		height: 100%;
		width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;		
	}

	.work-item-bg,
	.work-item-bg-hover {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center;
	}

	.work-item-bg {
		opacity: 0.3;
		-webkit-transition:none !important;
		-moz-transition:none !important;
		-o-transition:none !important;
		transition:none !important;		
	}

	.work-item-bg-hover {
		display: none;
		-webkit-transition:none !important;
		-moz-transition:none !important;
		-o-transition:none !important;
		transition:none !important;
	}

	&:nth-child(1n+5) {
	// display: none;
	}

	.work-carousel {
		display: none;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;

		.carousel-items {
			height: 100%;
    		width: 100%;
    		overflow: hidden;
		}
		
		.carousel-item {
		    height: 100%;
		    width: 100%;	

		    &:first-child {
		    	height: 100%;

		    	.work-copy {
		    		height: 100%;
		    	}
		    	
		    	.work-media {
		    		height: 100%;
		    		background: transparent;
		    	}			    	
		    }

		    .related-slide {
			    top: 50%;
			    position: absolute;
			    -webkit-transform: translate(0,-50%);
			            transform: translate(0,-50%);		    	

			    .similar {
					
			    }	
		    }	

		    .related-works {
			    width: 75%;
			    float: left;
			    position: relative;

			    .related-work {
					display: block;
			    }
		    }
		}

		.carousel-image {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);

			&.hovered {
				-webkit-filter: grayscale(0);
				filter: grayscale(0);				
			}
		}

		.work-copy {
			width: 25%;
    		height: 100%;
    		position: relative;
    		float: left;
    		display: block;

    		.company {
    			font-size: 18px;
    		}

    		nav {
				margin-top: 50px;

    			a {
				    height: 50px;
				    width: 50px;
				    background-image: url(http://ml.dev/wp-content/themes/medialoft/assets/images/icons/right-carousel-arrow.png);
				    background-repeat: no-repeat;
				    background-size: cover;
				    display: inline-block;
				    margin-right: 28px;

				    &.disabled {
				    	opacity: 0.5;
				    }
    			}

    			.next {
    				background-position: -52px;
    				margin-right: 0;
    			}
    		}
		}

		.work-media {
			width: 75%;
    		height: 100%;
    		float: left;
    		position: relative;

    		.video-bg-container {
				background-color: #333;

    			video.work-loop-video {
				    -webkit-filter: grayscale(100%);
				    filter: grayscale(100%);    

					&.hovered {
						-webkit-filter: grayscale(0);
						filter: grayscale(0);				
					}				    			
			    }

			    .close-video {
			    	opacity: 0;
					background-color: #A0A0A0;
					width: 50px;
					height: 50px;
					padding-top: 9px;
					position: absolute;
					bottom: 0;
					left: 0;	
					font-size: 30px;	

					i {
						display: block;
						height: 25px;
						width: 25px;
						background: url(../images/icons/menu-close-white.png) no-repeat;
						background-size: cover;
						@include center-me;
					}			    	
			    }
    		}
		}

		.carousel-nav {
			height: 50px;
			position: absolute;
			bottom: 0;
			right: 0;
			background: #fff;

			ul {
				height: 100%;
				margin: 0;
				padding: 20px 30px 0 30px;
			
				li {
					height: 10px;
					width: 10px;
					background: #DCDCDC;
					display: block;
					float: left;
					cursor: pointer;
					-webkit-transform: rotate(45deg);
					        transform: rotate(45deg);
					margin: 0 40px 0 0;

					&:last-child {
						margin-right: 0;
					}

					&.active {
						background: $ml-dark-red;
					}
				}
			}	

			&.show-video {
				bottom: -50px;
    			right: -100%;
			}
		}
	}

	.tagline {
		transition: all 0.2s ease;

		&.work-title {
			.company {
				font-size: 25px;
			}
		}
	}

	&:hover {
		.work-item-bg {
			// display: none;
		}

		.work-item-bg-hover {
			// display: block;
		}		

		.tagline {
			span:first-child {
				transition: all 0.2s ease;
				background-color: $ml-red;	
			}
		}

		.company,
		.category {
			color: #fff;
		}		
	}

	&:active {
		.work-item-bg {
			display: block;
			opacity: 1;
		}

		.work-item-bg-hover {
			display: none;
		}
	}

	.work-summary {
		height: 100%;
		width: 100%;	
		position: absolute;
		top: 0;
		left: 0;	
	}

	.work-details {
		padding: 0;

    	.label {
 		
    	}

    	.company {

    	}

    	.description {

    	}

    	&.show-video {
    		.work-copy {
    			margin-left: -25%;
    		}

    		.work-media {
    			width: 100%;
    		}

    		.video-start {
    			opacity: 0;
    		}

    		.close-video {
    			opacity: 1 !important;
    		}
    	}

    	.work-full-video {
    		// display: none;
    		opacity: 0;
    	}
	}
}

#main-logo.show-video {
	top: -50%;
    left: -50%;
}

#main-menu-btn.show-video {
	bottom: -50%;
    left: -50%;
}

.show-details {
	width: 100%;

	.work-item-bg {
		display: none;
	}

	&:hover {
		.work-item-bg-hover {
			display: none;
		}
	}	

	.work-details {
		left: 0;
	}

	.work-carousel {
		display: block;
	}
}

.right-menu {
	bottom: 0;
	left: auto;
	right: 0;
	width: auto;
	height: 70px;
	padding-top: 0;
	z-index: 11;
	background: transparent;
	display: block;
    float: left;

	ul {
		margin: 0;

		li {
			margin-bottom: 0;
			display: block;
			float: left;

			&:last-child {
				margin-bottom: 0;

				a {
					padding-right: 40px;
				}
			}
		}
	}

	a {
		color: #373837;
		height: 70px;
		display: block;
		padding: 30px 10px 0 45px;
		text-transform: uppercase;
		font-size: 13px;
		background: #fff;
	}

	.logo {
		z-index: 3;
	}

	&.open {
		display: block;
		bottom: 0;
		left: 0;
	}
}


/**************************
Services Page
***************************/	
#services-container {
	background-color: #2A2C2A;
}

.service-section {
	background: transparent;
	display: none;

	.summary {
	    width: 45%;
	    left: 15%;

	    p {
			opacity: 0;
			display: none;
			font-size: 18px;
			line-height: 24px;
	    }
	}

	.blur-overlay {
		display: block;
	}	
}

#svg-animate-services {
	path, line {
		fill-opacity: 0;
		stroke: rgba(255,255,255,0.3);
	}
}
.landing blockquote {
    position: absolute;
    top: 50%;
    left: 10%;
    padding-left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 50%;
    margin: 0;
    font-size: 35px;
	padding: 0 20px;
	-webkit-animation: down 1s ease forwards;

	.quote-mark {
	    background: url(../images/icons/quote-mark.png) no-repeat;
	    display: block;
	    width: 20px;
	    background-size: 100%;
	    height: 20px;
	}

	nav {
		margin-top: 0;
	}

	hr {
		height: 1px;
		width: 40px;
		background: #fff;
		border: none;
		margin: 30px 0 20px 0;
	}

	small {
		display: block;
		font-size: 20px;
		margin-top: 50px;		
	}
}