html, 
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: $sans-serif;
}

body * {
	transition: all 0.5s ease; 
	-webkit-font-smoothing: antialiased;
}

.wrap {
	height: 100%;

}

section {
	height: 100%;
	width: 100%;
	background-size: cover;
	position: relative;
}

.home .blur-overlay {
	height: 100%;
	opacity: 1;
	z-index: -1;
}

.blur-overlay {
	position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(249, 26, 0, 0.7);
    width: 100%;
    height: 0;
    opacity: 0;
    transition: opacity 0.2s ease; 


    &.show {
    	height: 100%;
    	display: block;
    	opacity: 1;
    }
}

a  {
	color: #575859;
}

/**************************
Global Buttons
***************************/		
.close-video {
	opacity: 0;
	background-color: #A0A0A0;
	width: 50px;
	height: 50px;
	padding-top: 9px;
	position: absolute;
	bottom: 0;
	left: 0;	
	font-size: 30px;	

	i {
		display: block;
		height: 25px;
		width: 25px;
		background: url(../images/icons/menu-close-white.png) no-repeat;
		background-size: cover;
		@include center-me;
	}			    	
}

.video-start {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;	

	div {
		height: 50px;
		width: 50px;
		position: absolute;

		&:first-child {
			background: #EF4330;
		    -webkit-transform: rotate(45deg);
		            transform: rotate(45deg);
		    z-index: 1;

		    &:after {
			    content: "";
			    height: 0;
			    width: 0;
			    border-top: 10px solid transparent;
			    border-bottom: 10px solid transparent;
			    border-left: 15px solid #fff;
			    -webkit-transform: rotate(-45deg);
			            transform: rotate(-45deg);
			    display: block;
			    position: absolute;
			    top: 46%;
			    left: 55%;
			    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
			            transform: translate(-50%,-50%) rotate(-45deg);
		    }
		}

		&:nth-child(2){
			border: solid 1px #fff;
			-webkit-transform: rotate(45deg);
			        transform: rotate(45deg);
			top: 10px;
		}
	}
}

/**************************
GLobal BG Styles
***************************/
.full-bleed {
	@include full-bleed;
}

/**************************
SVG Styles
***************************/		
.svg-bg {
    width: 100%;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    &.home {
    	opacity: 1;
    	left: 0;
    }
}

.blur-overlay .svg-bg {
	opacity: 0.1;
}

/**************************
FULL BLEED VIDEO 
***************************/
.video-bg-container,
#full-screen-video {	
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;	

	video {
	    position: absolute;
	    top: 50%;
	    -webkit-transform: translate(-50%,-50%);
	            transform: translate(-50%,-50%);
	    min-width: 100%;
	    min-height: 100%;
	    left: 50%;
	    width: auto;
	    height: auto;
	    background-size: cover;
	} 
}

#full-screen-video {
	top: 0;
	left: -100%;
    position: absolute;
    z-index: 10;	
}

/**************************
Page Specific Styles
***************************/		
/**************************
Homepage
***************************/	
body.home {
	background-image: url(../images/mobile/backgrounds/mobile-home-bg.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}	

#home-landing {
	overflow: hidden;
	position: relative;
}

/**************************
About Page
***************************/	
.page-about {
	
}

.tile-container {
	height: auto;
	overflow: hidden;
}

.tile {
	width: calc(100%/6);
    padding-bottom: calc(100%/6);
	float: left;
	position: relative;

	&.dark {
		background: #F5F5F5;
	}

	&.blank {
		background: transparent;
	}

	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
		width: 100%;

		& + img {
			opacity: 0;
		}
	}

	&:nth-child(2n){

	}

	&.blank {
		background: none;
		
		img {
			display: none;
		}
	}
}

#about-landing {
	background-image: url(../images/mobile/backgrounds/mobile-about-bg.jpg);
}

#timeline2 {
	.large-date {
	    font-family: 'futura_ltregular';
	    font-size: 880px;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    color: #3B3B3B;
	    line-height: 640px;
	    z-index: 2;
	    letter-spacing: -42px;
	}
}

#clients {
	min-width: 1310px;
	background-color: #E5E5E5;

	.tile {
		background: #FBFBFB;
		opacity: 0;

		&.blank, &.empty {
			background: transparent;
		}

		&.dark {
			background: #F5F5F5;
		}

		&.dark.blank {
			background: transparent;
		}		
	}

	.cta {
		.tagline {
			margin: 0;
			background: transparent;

			span {
				background-color: #373837;
				padding: 5px 10px;
				color: #fff;
				display: block;
				float: left;

				&:last-child {
					clear: both;
				}
			}
		}
	}

	&.in-view {
		.tile {
			opacity: 1;
		}
	}
}

#people {
	background-color: #DEDEDE;

	.tile {
		z-index: 1;
		opacity: 0;
	
		&.in-view {
			opacity: 1;
		}

		img {
			width: 100%;
		}
	}

	.cta {
		top: auto;
		bottom: calc(100%/3);
		transform: translate(0, calc(100%/3));

		.tagline {
			background: transparent;
			margin: 0;
			padding: 0;
			span {
				background-color: #EF4330;
				opacity: 0.8;
				padding: 5px 10px;
				color: #fff;
				display: block;
				float: left;
			}
		}
	}	
}

#culture {
	h2 {

	}

	.blur-overlay {
		background-color: rgba(134, 177, 170, 0.8);
	}

	#about-culture-video-full {
		opacity: 0;
	}

	#about-culture-video-loop {

	}
}

#join-us {
	.cta {
		position: static;
		transition: none;
		-webkit-transition: none;
		-webkit-transform: none;
    	transform: none;
	}
	.contact-us {
		position: absolute;
		top: 50%;
		left: 10%;
		-webkit-transform: translate(0, -50%);
		        transform: translate(0, -50%);
		z-index: 2;

		.tagline {
			span {
				font-size: 35px;
			}

			span:first-child {
				color: #959595;
			}
		}
	}

	.email {
		color: #fff;
		margin-top: 40px;

		div {
			display: inline-block;
			vertical-align: top;
			font-size: 25px;
		}

		a {
			color: #fff;
			background-color: #EF4330;
			padding: 5px 40px 5px 15px;
			display: inline-block;
		}

		.choose {
			.selected {
			    padding: 0 10px 10px 10px;
			    border-bottom: solid 1px #fff;
			    margin-bottom: 10px;
			}

			span {
				display: block;
				position: relative
			}

			span + span {
				cursor: pointer;

				i {
					background-image: url(../images/icons/check.png);
					display: none;
				    height: 10px;
				    width: 13px;
				    position: absolute;
				    left: -26px;
				    background-size: cover;
				    top: 12px;
				}
			}

			span.active {
				i {
					display: block;
				}
			}
		}

		.email-link {
			text-transform: uppercase;
			font-size: 13px;
    		margin: 2px 0 0 40px;	
    		font-family: 'KlavikaWebBasicRegular';
    		position: relative;
    		
    		i {
    			font-size: 8px;
    			position: absolute;
    			top: 50%;
    			left: 85px;
    			-webkit-transform: translate(0, -50%);
    			        transform: translate(0, -50%);
    		}			
		}
	}
}

/**************************
Contact page
***************************/		
.page-contact {
	background: $page-bg-grey;

	.video-bg-container {
		display: none;
	}

	.hero,
	.info,
	.content {
		width: 100%;
	}

	.svg-container {
		display: none;
	}

	.hero {
		background-image: url(../images/mobile/backgrounds/contact/contact-map-header.jpg);
		background-size: cover;
		height: 32%;
		position: relative;

		p {
		    margin: 0;
		    color: #fff;
		    font-size: 24px;
		    position: absolute;
		    top: 50%;
		    left: 38px;

			em {
				font-style: normal;
				border-bottom: solid #676767 2px;
			}
		}
	}

	.general-info {
		background-image: url(../images/mobile/backgrounds/contact/contact-info-bg.jpg);
		background-size: cover;
		background-position: top left;
	    height: 60px;
	    color: #fff;
	    overflow: auto;
	    padding-top: 13px;

		.name-abbrev,
		.clock, 
		.weather {
			display: block;
			float: left;
		}

		.name-abbrev {
			text-transform: uppercase;
			font-family: 'ProximaNova-Extra-Bold', helvetica, arial;
			font-size: 30px;
    		letter-spacing: 3px;
    		width: 70%;
    		padding-left: 20px;
		}

		.clock,
		.weather {
			width: 15%;
			text-align: right;
			font-size: 22px;
		}

		.clock {
			position: relative;
			height: 30px;

			i {
				height: 31px;
				width: 30px;
				display: inline-block;
    			background-size: cover;
			    position: absolute;
			    top: 0;
			    left: 0;
			}	

			.hours {
				background-image: url(../images/icons/clock-hours.png);
			}

			.minutes {
				background-image: url(../images/icons/clock-minutes.png);
				transition: all 1s ease; 

			}
		}

		.weather {
			font-family: 'futura_ltlight';
			padding-right: 20px;
			margin-top: 3px;

			sup {
				top: -0.2em;
			}
		}
	}

	.contact-info {
		padding: 20px;
		color: $text-light-grey;
		line-height: 25px;

		h3 {
			color: $text-dark;
			font-weight: normal;
			text-transform: uppercase;
		}

		.tel,
		.email {
			display: block;
		}
	
		.directions {
			display: block;
			font-family: KlavikaWebBasicRegular;
			color: $teal;
			text-transform: uppercase;
			font-size: 14px;
		}

		.address {
			span {
				display: block;
			}
		}
	}

	.social {
	    position: absolute;
	    bottom: 10px;
	    right: 20px;
	    text-align: right;
	    font-size: 20px;
	    width: 100%;

		a {
			color: $teal;
			margin-left: 30px;
		}
	}

	// Add chat tail to main 
	// logo on Contact page
	#main-logo {
		&:after {
		    content: "";
		    height: 0;
		    width: 0;
		    position: absolute;
		    bottom: -12px;
		    right: 0px;
		    border: solid 15px #fff;
		    border-bottom: solid 15px transparent;
		    border-left: solid 15px transparent;
		}
	}
}

/**************************
Services Page
***************************/
#services-landing {
	background-color: #2A2C2A;
	color: #fff;
	overflow: hidden;

	&.hide-me {
		opacity: 0;
	}
}

#services-container {
	background-color: #2A2CB3;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;

	&.show-me {
		opacity: 1;
	}
}

.service-section {
	height: 100%;
	width: 100%;
	background-color: $ml-red;
	background-size: cover;

	.scaling-svg-container {
		z-index: 2;
		opacity: 0;

		&.show-me {
			opacity: 1;
		}		

		path, line {
			stroke: rgba(255, 255, 255, 0.2) !important;
		}
	}

	.blur-overlay {
		display: none;
	}

	.summary {
		color: #fff;
		padding: 0 20px;
	    position: absolute;
	    top: 50%;
	    z-index: 3;
	    cursor: pointer;
	    -webkit-transform: translateY(-50%);
	            transform: translateY(-50%);		

		p {
			-webkit-transform: translateY(40px);
			        transform: translateY(40px);
		}
	}	

	.number {
		padding-bottom: 10px;
		border-bottom: solid 1px #fff;
		display: inline-block;
		font-size: 50px;
	}

	.service {
		text-transform: lowercase;
		font-size: 25px;
		margin-top: 20px;
	}

	display: none;

	&.active {
		display: block;
	}

	&.show-summary {
		.summary {
			p {
				opacity: 1;
				-webkit-transform: translateY(0px);
				        transform: translateY(0px);
			}
		}

		video {
			-webkit-filter: blur(10px);
					filter: blur(10px);
		}
	}
}

#service-svg {
	display: none;
}

.landing blockquote {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    margin: 0;	
	font-size: 25px;
	padding: 0 20px;
	-webkit-animation: down 1s ease forwards;
	z-index: 1;

	.quote-mark {
	    background: url(../images/icons/quote-mark.png) no-repeat;
	    display: block;
	    width: 20px;
	    background-size: 100%;
	    height: 20px;
	}

	.quote {
		display: none;

		&.show {
			display: block;
		}
	}
	small {
		display: block;
		font-size: 11px;
		margin-top: 50px;		
	}

	hr {
		height: 1px;
		width: 40px;
		background: #fff;
		border: none;
		margin: 30px 0 20px 0;
	}	

	nav {
		text-align: right;
		font-size: 20px;
		margin-top: -20px;

		span {
			display: inline-block;
			vertical-align: middle;
		}

		.cur {
			margin-right: 5px;
		}

		.total {
			margin-left: 5px;
		}

		.arrow {
			margin: 0 5px;
		}
	}
}

.right-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #fff;

    &.go-away {
    	bottom: -50px;
    }
}    

/**************************
Work Page
***************************/	
#work-items-window {
	height: 100%;
	width: 100%;
	overflow: scroll;
}

.work-items {
	width: 100%;
	height: 100%;
}

.work-item {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: relative;

	.work-item-bgs {
		background: #fff;
		height: 100%;
		width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;	

		.work-item-bg {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
		}

		.work-item-bg {
			opacity: 0.3;
		}	    	
	}	

	.work-summary {
		height: 100%;
		width: 100%;	
		position: absolute;
		top: 0;
		left: 0;	

		.tagline {
			background: transparent;
		}
	}

	.work-details {
		height: 100%;
	    width: 100%;
	    background: $ml-red;
	    position: absolute;
	    left: -100%;
	    z-index: 2;
    	color: #fff;

		.category {
			font-family: 'KlavikaWebBasicRegular';
			font-size: 13px;
			transition: all none;
    		background: $ml-dark-red;
    		color: #FFAEA5;
		    display: inline-block;
		    padding: 10px;    			
		    text-transform: uppercase;
		    margin: 0;
		    cursor: pointer;
		}

    	.description {
    		opacity: 0.74;
		    font-size: 14px;
		    line-height: 20px; 
		    font-family: 'ProximaNova-Regular';
		    // height: 100px;
		    // overflow: scroll;
    	}

    	.company {

    	}

    	.similar {
    		font-size: 28px;
    	}

    	.work-title {
    		font-size: 25px;
    	}

    	.work-content {
		    font-size: 14px;
		    line-height: 20px;    		
    	}
	}
}

.show-details {
	.work-details {
		left: 0;
	}
}

.work-carousel {
	height: 100%;
	width: 100%;
	overflow: scroll;

	.carousel-items {
		height: 100%;
		width: 100%;

		.carousel-item {
		    height: 100%;
		    width: 100%;

		    &:first-child {
		    	height: 200%;

		    	.work-copy {
		    		display: block;
		    		height: 50%;
		    	}
		    	
		    	.work-media {
		    		display: block;
		    		height: 50%;
		    		background: orange;
		    	}		    	
		    }
		}		
	}

    .work-copy {
    	padding: 222px 50px 5% 56px;
    	height: 100%;
    	width: 100%;
    	float: none;
		display: none;
    }	

    .work-media {
    	height: 100%;
    	width: 100%;
    	float: none;
    	position: relative;

    	video {
    		// display: none;
    		// width: 0;
    	}
    }    


	.related-works {
	    width: 100%;
	    height: 100%;
	    position: relative;
	    background-color: #333;

	    .related-work {
	    	width: 100%;
	    	height: 50%;
		    background-size: cover;
		    background-position: center;	
		    position: relative;
		    background-color: #fff;
		    cursor: pointer;

		    .resting {
		    	opacity: 0.2;
		    }

		    .hover {
		    	display: none;
		    }

		    &:hover {
			    .resting {
			    	display: none;
			    }

		    	.hover {
		    		display: block;
		    	}

		    	.company {
		    		background: #EF4330;
		    		color: #fff;
		    	}		    	

		    	.category {
		    		color: #fff;
		    	}
		    }

		    &:active {
			    .resting {
			    	display: block;
			    	opacity: 1;
			    }

		    	.hover {
		    		display: none;
		    	}			    	
		    }

		    p {
		    	margin: 0;
		    }		    

			.info {
			    position: absolute;
			    top: 50%;
			    left: 10%;
			    -webkit-transform: translate(0, -50%);
			            transform: translate(0, -50%);						
			}

		    .company {
				color: #000000;
				background-color: #fff;
				display: inline-block;
				padding: 2px 10px;
				font-size: 20px;
				margin-bottom: 15px;
				transition: all 0.2s ease;
		    }	

		    .category {
			    background: transparent;
			    color: #575859;
			    display: block;
			    padding: 0;
			    text-transform: uppercase;	
			    font-size: 14px;	
			    transition: all 0.2s ease;  
			    margin: 0;  	
		    } 		    
		}    
	}

	.carousel-image {
	    height: 100%;
	    width: 100%;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	}	
}	

.work-carousel .close {
	background-color: #fff;
	width: 0;
	height: 0;
	padding-top: 9px;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;	
	font-size: 30px;	

	i {
		display: block;
		height: 25px;
		width: 25px;
		background: url(../images/icons/menu-close.png) no-repeat;
		background-size: cover;
		@include center-me;
	}	

	&.show-video {
		opacity: 0;
	}	
}

.show-details {
	.work-carousel .close {
		height: 50px;
		width: 50px;
	}
}

/**************************
Media Loft buttons/icons
***************************/		
.ml-play {
	background-image: url(../images/mobile/icons/Play_reel_btn_@2x.png);
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
    height: 34px;
    width: 28px;
}

.ml-play.black {
	background-image: url(../images/mobile/icons/Play_reel_btn_blk@2x.png);
}

/**************************
Logo
***************************/
.logo {
	width: 150px;
	height: 21px;
	position: absolute;
	top: 20px;
	left: 20px;
	margin: 0;
	display: block;
	z-index: 5;

	img {
		width: 100%;
	}

	h1 {
		margin: 0;
	}

	&.interior {
		width: 75px;
		height: 75px; 
		background-color: #fff;
		padding: 20px 10px;
		top: 0;
		left: 0;		
	}
}

#main-logo {
	position: fixed;
}

/**************************
Cta & Tagline
***************************/		
.cta {
	width: 270px;
	position: absolute;
	z-index: 2;
	top: 55%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);

	&.centered {
		top: 50%;
		left: 50%;		
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);	
    	text-align: center;		        
	}

	.tagline {
		font-weight: normal;
		-webkit-animation: down 1s ease forwards;
		display: inline-block;

		span {
			display: inline-block;
			background: rgba(255, 255, 255, 0.8);
			font-size: 25px;
			padding: 5px 15px;
		}

		.category {
		    background: transparent;
		    text-transform: uppercase;
		    color: #6E6E6E;
		    font-size: 14px;
		    padding: 0;
		    display: block;
		    margin: 10px 0 0 0;
		}

	    &.one-liner {
	    	padding: 5px 15px;

	    	span {
	    		background-color: transparent;
	    		padding: 0;
	    	}
	    }	

	    &.alternate-red {
	    	background-color: rgba(239, 67, 48, 0.8);
	    	color: #fff;
	    }
	}
	
	&.alternate {
		width: 320px;

		.tagline {
			span {
				background-color: #fff;
				letter-spacing: 1px;
			}

			span:first-child {
				color: #989898;
			}
		}	
	}

	&.single {
		.tagline {
			h2 {
				background-color: rgba(239, 67, 48, 1);
			}

			span {
				background-color: transparent;
				letter-spacing: 1px;
			}
		}			
	}	
}

.nav-arrow-down {
	width: 35px;

	img {
		width: 100%;
	   	-webkit-animation: flickerAnimation 1s infinite;
	    animation: flickerAnimation 1s infinite;	

	    &:last-child {
		   	-webkit-animation: flickerAnimationTwo 1s infinite;
		    animation: flickerAnimationTwo 1s infinite;	
	    }		
	}
}

@-webkit-keyframes down {
    from { 
    	margin-top: -150px; 
    	opacity: 0;
    }
    to { 
    	margin-top: 0; 
    	opacity: 1;
    }
}

@keyframes down {
    from { 
    	margin-top: -150px; 
    	opacity: 0;
    }
    to { 
    	margin-top: 0; 
    	opacity: 1;
    }
}

// work-items slide in
@-webkit-keyframes slideInLeft {
  0%   { margin-left:20%; }
  100% { margin-left:0; }
}

@-webkit-keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.7; }
  100% { opacity:1; }
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.7; }
  100% { opacity:1; }
}

@-webkit-keyframes flickerAnimationTwo {
  0%   { opacity:0.7; }
  50%  { opacity:1; }
  100% { opacity:0.7; }
}

@keyframes flickerAnimationTwo {
  0%   { opacity:0.7; }
  50%  { opacity:1; }
  100% { opacity:0.7; }
}

.play-reel {
	display: block;

	span {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		text-transform: uppercase;
		font-size: 14px;
		font-family: 'KlavikaWebBasicMedium';
		letter-spacing: 3px;
		color: #575859;
	}
}

/**************************
Main Menu Styles
***************************/
#main-menu-btn,
.right-menu-btn {
	background: #fff;
	width: 80px;
	height: 50px;
	display: inline-block;
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 15px;
	text-align: center;
	z-index: 6;	

	.close-menu {
		background-color: #fff;
		width: 50px;
		height: 50px;
		padding-top: 9px;
		position: absolute;
		bottom: 0;
		left: -50px;	
		font-size: 30px;	

		i {
			display: block;
			height: 25px;
			width: 25px;
			background: url(../images/icons/menu-close.png) no-repeat;
			background-size: cover;
			@include center-me;
		}		
	}

	.open-menu {
		display: block;
		padding-top: 15px;
		height: 100%;
		width: 100%;		
		position: absolute;
		bottom: 0;
		left: 0;
	}	
}

#main-menu-btn {
	background: #333;
	color: #fff;

	.close-menu {
		background: #333;
		
		i {
			background-image: url(../images/icons/menu-close-white.png);
		}
	}
}

.right-menu-btn {
	left: auto;
	right: 0;
	width: 120px;
	background: $ml-dark-red;
	color: #fff;

	.close-menu {
		left: auto;	
		right: -50px;
		background: $ml-dark-red;

		i {
			display: block;
			height: 25px;
			width: 25px;
			background: url(../images/icons/menu-close-white.png) no-repeat;
			background-size: cover;
		}
	}	
}

#main-menu, 
.right-menu {
	position: fixed;
	bottom: 0;
	left: -130%;
	width: 100%;
	height: 100%;
	background: $ml-red;
	font-size: 30px;
	padding-top: 100px;
	z-index: 5;

	ul {
		margin: 0;

		li {
			margin-bottom: 10px;

			&.active {
				opacity: 0.5;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	a {
		color: #fff;
		text-transform: uppercase;
	}

	.logo {
		z-index: 3;
	}

	&.open {
		display: block;
		bottom: 0;
		left: 0;
	}
}

#main-menu {
	li:hover {
		opacity: 0.5;
	}
}

.right-menu {
	ul {
		li {
			&.active {
				opacity: 1;
			}
		}
	}
}

.right-menu {
	position: fixed;
	left: auto;
	right: -130%;
	background: #fff;

	ul {
		text-align: right;
		margin-right: 30px;
		margin-left: 0;
	}

	li {
		a {
			color: #2E2E2E;
		}		
		&.active {
			a { color: $gold; } 
		}		
	}
}

.main-menu-open {
	#main-menu {
		left: 0%;
	}

	#main-menu-btn {
		width: 50px;
		z-index: 6;

		.open-menu {
			bottom: -50px;
		}

		.close-menu {
			left: 0;
		}
	}
}

.right-menu-open {
	.right-menu {
		right: 0%;
	}

	.right-menu-btn {
		width: 50px;
		z-index: 6;

		.open-menu {
			bottom: -50px;
		}

		.close-menu {
			right: 0;
			background: $ml-dark-red;
			color: #fff;
		}
	}
}

/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	min-width: 75px;
	width: 10%;
	height: 100%;
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{		
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: scroll;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}



.page-services {
	.scaling-svg-container {	
		width: 110%;
		-webkit-transform: translate(-60%, -50%);
		        transform: translate(-60%, -50%);
	}

	.svg-animate-services {
		width: 120%;

		path, line {
		fill-opacity: 0;
		stroke: rgba(255,255,255,0.4);
		stroke-width: 0.5;
		// TODO MAKE DYNAMIC
		stroke-dasharray: 2000;
		stroke-dashoffset: 2000;
		-webkit-animation-name: draw;
		    animation-name: draw;
		-webkit-animation-duration: 3s;
		    animation-duration: 3s;
		-webkit-animation-fill-mode: forwards;
		    animation-fill-mode: forwards; // Stay on the last frame
		-webkit-animation-iteration-count: 1; // Stay on the last frame
		    animation-iteration-count: 1; // Run only once
		-webkit-animation-timing-function: linear; // Run only once
		    animation-timing-function: linear;
		}		
	}	
}

.scaling-svg-container {
    position: absolute;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
 /* override this inline for aspect ratio other than square */
}
.scaling-svg {
 position: absolute; 
 height: 110%;
 width: 110%;
 left: 50%; 
 top: 50%;
 -webkit-transform: translate(-50%,-50%);
 		 transform: translate(-50%,-50%);
}

.scaling-svg {
	path, line {
		stroke: rgba(255,255,255,0.3);
		stroke-width: 0.4;		
	}
}

#Layer_2_1_home {
	path, line {
	fill-opacity: 0;
	stroke: rgba(0,0,0,0.3);
	stroke-width: 0.5;
	// TODO MAKE DYNAMIC
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	-webkit-animation-name: draw;
	    animation-name: draw;
	-webkit-animation-duration: 4s;
	    animation-duration: 4s;
	-webkit-animation-fill-mode: forwards;
	    animation-fill-mode: forwards; // Stay on the last frame
	-webkit-animation-iteration-count: 1; // Stay on the last frame
	    animation-iteration-count: 1; // Run only once
	-webkit-animation-timing-function: linear; // Run only once
	    animation-timing-function: linear;
	}	
}

.scaling-svg.white-stroke {
	path, line {
		stroke: rgba(255,255,255,0.1);
	}
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

// svg {
//   width: 50%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
//   z-index: 1000;
	
// 	#strokme {



//   path, line {
//     fill-opacity: 0;
//     stroke: #000;
//     stroke-width: 1;
//     stroke-dasharray: 1870;
//     stroke-dashoffset: 1870;
//     -webkit-animation-name: draw;
//             animation-name: draw;
//     -webkit-animation-duration: 5s;
//             animation-duration: 5s;
//     -webkit-animation-fill-mode: forwards;
//             animation-fill-mode: forwards; // Stay on the last frame
//     -webkit-animation-iteration-count: 1; // Stay on the last frame
//             animation-iteration-count: 1; // Run only once
//     -webkit-animation-timing-function: linear; // Run only once
//             animation-timing-function: linear;
//   }
//   }
// }

// @keyframes draw {
//   to {
//     stroke-dashoffset: 0;
//   }
// }
// 
//