#timeline2 {
  background-color: #313131;
}
#timeline2 .full-bleed {
  z-index: 1;
  opacity: 0.4;
}
#timeline2 .full-bleed.shown {
  height: 100%;
}
#timeline2 .full-bleed .cover {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}
#timeline2 .full-bleed.shown .cover {
  display: block;
}

#timeline2 .timeline-block {
  border: solid 1px #ccc;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#timeline2 .timeline-block .info {
  background-color: #F2F2F2;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
#timeline2 .timeline-block .info .inner {
  width: 70%;
  height: 50%;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
#timeline2 .timeline-block .info .inner h5 {
  color: #D8CA53;
  font-size: 20px;
  margin: 0;
}
#timeline2 .timeline-block .info .inner p {
  color: #444444;
}
#timeline2 .timeline-block .info.show-me {
  width: 100%;
  height: 100%;
}
#timeline2 .timeline-block .info.show-me .inner {
  opacity: 1;
}
#timeline .date,
#timeline2 .date {
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #E0E0E0;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#timeline .date .close,
#timeline2 .date .close  {
  opacity: 0;
  background-image: url(../images/icons/menu-close-white.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#timeline .date .num,
#timeline2 .date .num {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  display: block;
  font-family: 'futura_ltlight';
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#timeline2 .date.left-top {
  top: -12px;
  left: -12px;
}
#timeline2 .date.right-top {
  right: -12px;
  top: -12px;
}
#timeline2 .date.right-bottom {
  right: -12px;
  bottom: -12px;
}
#timeline2 .date.left-bottom {
  left: -12px;
  bottom: -12px;
}
#timeline .date:hover,
#timeline2 .date:hover {
  background-color: #FF5543;
  height: 60px;
  width: 60px;
}
#timeline .date:hover .num,
#timeline2 .date:hover .num {
  opacity: 1;
}
#timeline .date:hover.left-top,
#timeline2 .date:hover.left-top {
  top: -30px;
  left: -30px;
}
#timeline .date:hover.right-top,
#timeline2 .date:hover.right-top {
  right: -30px;
  top: -30px;
}
#timeline .date:hover.right-bottom,
#timeline2 .date:hover.right-bottom {
  right: -30px;
  bottom: -30px;
}
#timeline .date:hover.left-bottom,
#timeline2 .date:hover.left-bottom {
  left: -30px;
  bottom: -30px;
}
#timeline2 .date.selected {
  background-color: #FF5543;
  height: 60px;
  width: 60px;
}
#timeline2 .date.selected .num {
  opacity: 0;
}
#timeline2 .date.selected .close {
  opacity: 1;
}
#timeline2 .date.selected.left-top {
  top: -30px;
  left: -30px;
}
#timeline2 .date.selected.right-top {
  right: -30px;
  top: -30px;
}
#timeline2 .date.selected.right-bottom {
  right: -30px;
  bottom: -30px;
}
#timeline2 .date.selected.left-bottom {
  left: -30px;
  bottom: -30px;
}

/*# sourceMappingURL=timeline.css.map */
